<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<button (click)= "toggleView()">Toggle</button><br><br>

<div style="display: flex" *ngIf = "toggle">
  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="artists" [cdkDropListConnectedTo]="[secondList]"
    #firstList="cdkDropList" style="width: 30%">
    <div class="pop" *ngFor="let artist of artists" cdkDrag>{{artist}}</div>
  </div>

  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="alteArtists" [cdkDropListConnectedTo]="[firstList]"
    #secondList="cdkDropList" style="width: 30%">
    <div class="pop" *ngFor="let artist of alteArtists" cdkDrag>{{artist}}</div>
  </div>
</div>

<div *ngIf = "!toggle">
  <app-file-drag-drop></app-file-drag-drop>
</div>