<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<div style="display: flex">
  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="artists" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" style="width: 30%">
    <div class="pop" *ngFor="let artist of artists" cdkDrag>{{artist}}</div>
  </div>

  <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="alteArtists" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" style="width: 30%">
    <div class="pop" *ngFor="let artist of alteArtists" cdkDrag>{{artist}}</div>
  </div>

</div>